#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.logo {
  margin: 86px 409px 16px 435px;
  width: 600px;
  height: 200px;
}

.search {
  border: none;
  padding: 0;
  margin-left: 210px;
  margin-right: 214px;
  margin-bottom: 51px;
}

.filter {
  /* width: 1020px;
  height: 66px;
  border-radius: 7px;
  border-color: grey;
  border-top-color: rgb(214, 211, 211);
  border-left-color: rgb(214, 211, 211); */
  border: 1px solid grey;
  border-radius: 7px;
  width: 1020px;
  height: 66px;
  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.grid-container {
  display: grid;
    grid-template-columns: auto auto auto auto;
  
    padding: 10px;
    column-gap: 20px;
    row-gap: 24px;
    margin-left: 210px;
    margin-right: 211px;
}

.grid-card {
  width: 240px;
  height: 244px;
  border-radius: 7px;
  text-align: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.grid-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-image {
  padding-bottom: 12px;
  border-radius: 7px;
  object-fit: cover;
  width: 100%;
  height: 168px;
}

.name {
  color: black;
  font-size: 20px;
  margin: 0;
  padding-left: 16px;
}

.species {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
  padding-left: 16px;
}

/* character info styles */
.character-info {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 142px;
}

.back {
  margin-left: 50px;
  margin-top: 21px;
  display: flex;
  background-color: white;
  border: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.back:hover {
  cursor: pointer;
}

.arrow {
  padding-right: 7px;
}

.character-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 76px;
}

h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 48px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color:  #8E8E93;
  margin-bottom: 48px;
}

.information {
  width: 413px;
  height: 320px;
  margin-left: 520px;
  margin-right: 502px;
  text-align: left;
}

h5 {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 9px;
}

.information p {
  font-weight: 400;
  font-size: 14px;
  color: #6E798C;
  margin: 0;
  padding-bottom: 12px;
}

hr {
  border-top: 1px solid #E5E5E5;
  width: 350px;
  margin: 0;
  
  
}
